[dir] .nx-theme-styles .nx-theme-form { 
	background-color: #FFF8DC; 
}
[dir] .nx-theme-styles .nx-theme-form .nx-theme-button-1 { 
  background-color: #9c2be7; 
  color: #ebfdbf; 
  font-size: 1.2em; 
  text-transform: uppercase; 
  font-weight: 700; 
  width: 100%; 
}
[dir] .nx-theme-styles .nx-theme-form .nx-theme-label-1 { 
  text-align: right; 
  color: #910adf; 
  text-transform: uppercase; 
  text-decoration: underline; 
}
[dir] .nx-theme-styles .nx-theme-form .nx-theme-input-1 { 
  background-color: #5f585f; 
  color: #ffee00;
}
[dir] .nx-theme-styles .nx-theme-form ntx-repeating-section ntx-textbox .nx-theme-input-1 { 
  background-color: #464646; 
  color: #b9ff50; 
}
[dir] .nx-theme-styles ntx-richtext-label .high-budget .nx-theme-richtext p {
  color: #da0000;
}[dir] .nx-theme-styles ntx-richtext-label .medium-budget .nx-theme-richtext p {
  color: #daa520; 
}
[dir] .nx-theme-styles ntx-richtext-label .good-budget .nx-theme-richtext p {
  color: #b9ff50; 
}
